@import url('reset.css');

:root {
    --primary: #ffffff;
    --secondary: #03E822;
    --terciary: #000000;
    --error: #DE1A1A;
    
}

.height-100{
    height: 100%;
}

h1{
    font-size: 1.25rem;
    font-family: 'Ubuntu Mono', monospace;
    color: var(--primary);
}
h2{
    font-size: 1.25rem;
    font-family: 'Ubuntu Mono', monospace;
    color: var(--primary);
}
h3{
    font-size: 1.125rem;
    font-family: 'Ubuntu Mono', monospace;
    color: var(--primary);
}
h4{
    font-size: 1.075rem;
    font-family: 'Ubuntu Mono', monospace;
    color: var(--primary);
}
p{
    font-size: 1rem;
    font-family: 'Ubuntu Mono', monospace;
    color: var(--primary);

    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1rem;

    span{
        color: var(--secondary);
    }
}

a {
    text-decoration: none; /* Remove underline */
}

.btn-test{
    display: flex;
    justify-content: center;
    width: fit-content;
    padding: 1rem;
    margin: 1rem;
    border: 2px solid black;
    
}

.main-container{
    background-color: var(--terciary);
    border: 2px solid var(--primary);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;

    padding: 1rem;

    width: 100vw;
    height: 100vh;
}

.head{
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid var(--primary);

    .logo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: stretch;

        padding: 3rem 1rem;

        min-width: 150px;
    }

    .titles{
        border-left: 1px solid #fff;
        padding: 1rem;
        flex-grow: 1;

        height: 100%;

        p{
            color: var(--secondary);
            margin-bottom: 1rem;
        }
        h2{
            color: var(--secondary);
            text-align: right;
            font-style: italic;
        }
    }
}

.after-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .text-content{
        h1{
            color: var(--secondary);
            letter-spacing: 0.1rem;
        }
    }

    .btn-histoire{
        padding: 0.2rem;
        border: 1px solid var(--primary)
    }
}

.content{
    display: flex;
    padding: 32px 16px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* gap: 92px; */
    flex: 1 0 0;
    align-self: stretch;
    border: 1px solid var(--primary);
    border-top: 0px;

    .text-content{
        p{
            margin: 0.5rem 0rem;
        }
    }
}
.button-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
}
.wrapper-right{
    justify-content: flex-end;
}
.wrapper-left{
    justify-content: flex-start;
}
.button-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.btn-type-1{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    border: 2px solid var(--primary);
    background: var(--primary);

    .btn-content{
        display: flex;
        padding: 0px 8px;
        justify-content: center;
        align-items: center;

        width: 100%;

        border: 2px solid var(--terciary);
        color: var(--terciary);

        font-family: 'Silkscreen', sans-serif;
        font-size: 1.175rem;

        text-transform: uppercase;
    }
}

.btn-type-1-alt{
    border: 2px solid var(--primary);
    background: var(--terciary);
    .btn-content{
        border: 2px solid #000;
        color: var(--primary);
    }
}

.btn-credit{
    text-align: right;
    text-transform: uppercase;
    color: var(--secondary);
    font-family: 'Silkscreen', sans-serif;
    font-size: 1em;
}



