@import url('reset.css');

:root {
    --primary: #ffffff;
    --secondary: #03E822;
    --terciary: #000000;
    --error: #DE1A1A;
    
}

.height-100{
    height: 100%;
}
.flex-grow-1{
    flex-grow: 1;
}
.flex-grow-0{
    flex-grow: 0;
}
.gap-0{
    gap: 0 !important;
}

.p-1{
    padding: 1rem;
}

.p-4-8{
    padding: 4px 8px;
}

.display-none{
    display: none !important;
}

.justify-center{
    justify-content: center;
}

.color-white{
    color: var(--primary) !important;
}

.filter-invert{
    filter: invert(1)
}

.bg-green{
    background: var(--secondary) !important;
}


h1{
    font-size: 1.25rem;
    font-family: 'Ubuntu Mono', monospace;
    color: var(--primary);
}
h2{
    font-size: 1.25rem;
    font-family: 'Ubuntu Mono', monospace;
    color: var(--primary);
}
h3{
    font-size: 1.125rem;
    font-family: 'Ubuntu Mono', monospace;
    color: var(--primary);
}
h4{
    font-size: 1.075rem;
    font-family: 'Ubuntu Mono', monospace;
    color: var(--primary);
}
p{
    font-size: 1rem;
    font-family: 'Ubuntu Mono', monospace;
    color: var(--primary);

    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1rem;

    span{
        color: var(--secondary);
    }
}

a {
    text-decoration: none; /* Remove underline */
}

.arrow-down{
    transform: rotate(90deg);
}

.btn-test{
    display: flex;
    justify-content: center;
    width: fit-content;
    padding: 1rem;
    margin: 1rem;
    border: 2px solid black;
    
}

.main-container{
    background-color: var(--terciary);
    border: 2px solid var(--primary);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;

    padding: 1rem;

    width: 100vw;
    min-height: 100vh;
}

.head{
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid var(--primary);

    .logo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: stretch;

        padding: 3rem 1rem;

        min-width: 150px;
    }

    .titles{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        border-left: 1px solid #fff;
        padding: 1rem;
        flex-grow: 1;

        height: 100%;

        p{
            color: var(--secondary);
            margin-bottom: 1rem;
            letter-spacing: 0;
        }
        h2{
            color: var(--secondary);
            text-align: right;
            font-style: italic;
        }
        h1{
            color: var(--secondary);
            text-align: center;
        }
    }
}

.after-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .text-content{
        h1{
            color: var(--secondary);
            letter-spacing: 0.1rem;
        }
    }
    .text-after-head{
        h1{
            margin: 0rem 0rem 1rem 0rem;
        }
    }

    .btn-histoire{
        padding: 0.2rem;
        border: 1px solid var(--primary)
    }
}

.content{
    display: flex;
    padding: 32px 16px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* gap: 92px; */
    flex: 1 0 0;
    align-self: stretch;
    border: 1px solid var(--primary);
    border-top: 0px;

    .text-content{
        p{
            margin: 0.5rem 0rem;
        }
        h3{
            margin: 0rem 0rem 1rem 0rem;
        }
    }
    .text-accueil{
        p{
            margin: 1rem 0rem;
        }
    }
}
.button-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
}
.wrapper-right{
    justify-content: flex-end;
}
.wrapper-left{
    justify-content: flex-start;
}
.button-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.btn-type-1{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    border: 2px solid var(--primary);
    background: var(--primary);

    .btn-content{
        display: flex;
        padding: 0px 8px;
        justify-content: center;
        align-items: center;

        width: 100%;

        border: 2px solid var(--terciary);
        color: var(--terciary);

        font-family: 'Silkscreen', sans-serif;
        font-size: 1.175rem;
        font-weight: bold;

        text-transform: uppercase;
    }
    button.btn-content{
        padding: 8px 8px; 
    }
}

.btn-type-1-alt{
    border: 2px solid var(--primary);
    background: var(--terciary);
    .btn-content{
        border: 2px solid var(--terciary);
        color: var(--primary);
    }
}

.btn-credit{
    text-align: right;
    text-transform: uppercase;
    color: var(--secondary);
    font-family: 'Silkscreen', sans-serif;
    font-size: 1em;
}

.btn-big-continue{
    width: 100%;
    .btn-type-1{
        .btn-content{
            justify-content: space-between;
        }
    }
}

.img-container{
    background-color: var(--primary);
    border: 2px solid var(--primary)
}
.img-painting{
    width: 100%;
    min-height: 200px;
    border: 2px solid var(--terciary);
    background-image: url('../content/logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

.content-unset-justify{
    justify-content: unset;
    gap: 32px;
}
.content-intro{
    border-top: 1px solid var(--primary);
    justify-content: space-between;

    .img-container{
        background-color: var(--terciary);
        border: 2px solid var(--primary)
    }
}
.index{
    justify-content: center;
}

.form-serie{
    display: flex;
    width: 100%;
    margin: 2rem 0rem;
    

    form{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;


        label{
            color: var(--primary);
            font-family: 'Ubuntu Mono', monospace;
            font-size: 1.25rem;
            text-align: center;
        }
        input{
            font-family: 'Ubuntu Mono', monospace;
            font-size: 1.125rem;

            padding: 1rem 0.5rem;
            
            background-color: var(--terciary);
            border: 2px solid var(--primary);
            text-transform: uppercase;
            font-weight: bold;
        }
        input::placeholder{
            color: var(--primary);
        }
        input[type="text" i] {
            writing-mode: horizontal-tb !important;
            color: white
        }
        input:focus-visible {
            border: 2px solid var(--secondary);
            outline: 0;
        }
    }
}

.logo-index{
    width: 100%;
    min-height: 200px;
    border: 2px solid var(--terciary)
}

.canvas-container{
    overflow: hidden;
    width: 100%;
    height: 0%;
    background: var(--primary);
    border: 1px solid #000;
    animation: expandHeight 1.5s cubic-bezier( 1, -0.02, 0.14, 0.99 ) forwards;

}

.active.btn-type-1{
    border: 4px solid var(--terciary);
    background: var(--secondary);
    .btn-content {
        border: 4px solid var(--primary);
        color: var(--terciary);
    }
}

.anim-typewriter{
    color: var(--secondary);
    font-size: 1.175em;
}

.loading{
    display: flex;

    width: 100%;
    min-height: 2rem;

    border: 2px solid white;
    margin-bottom: 2rem;
    padding: 0.5rem 0.5rem;

    .bar{
        width: 0%;
        height: 100%;
        background: var(--secondary);
    }
}


/* cubic-bezier( 0.74, -0.08, 0.14, 0.99 )  */
@keyframes expandHeight {
    0% {
        height: 0%;
    }
    100% {
        height: 100%;
    }
}
